<div id="admin-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h1 class="admin-heading"><i class="fa fa-cog"></i> Settings</h1>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card">
                <h5 class="card-header">Settings</h5>
                <div class="card-body">
                    <form action="/admin/settings/save" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="article_title" class="form-label">Website Title</label>
                            <% if(!settings || !settings.title || settings.title.trim() === '') { %>
                                <input type="text" name="title" class="form-control" autocomplete="off" required>
                            <% } else { %>
                                <input type="text" name="title" value="<%= settings.title %>" class="form-control" autocomplete="off" required>
                            <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="website_logo" class="form-label">Upload Logo</label>
                            <br>
                            <% if(settings && settings.logo && settings.logo.trim() !== '') { %>
                                <img src="/uploads/<%= settings.logo %>" alt="Logo" width="250" height="150" class="mb-2">
                            <% } %>
                            <input type="file" name="logo" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="footer_description" class="form-label">Footer Description</label>
                            <% if(!settings || !settings.description || settings.description.trim() === '') { %>
                                <input type="text" name="description" class="form-control" autocomplete="off" required>
                            <% } else { %>
                                <input type="text" name="description" value="<%= settings.description %>" class="form-control" autocomplete="off" required>
                            <% } %>
                        </div>
                        
                        <input type="submit" name="submit" class="btn btn-primary" value="Save" required="">
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>